.navbar-custom {
    background-color: #32325d;
    font-size: larger;
    font-weight: bolder;
}

.navbar-custom .navbar-brand {
    color: #f1e5e5;
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.navbar-custom .navbar-brand img {
    margin-right: 10px; /* Space between image and text */
}

.navbar-custom .nav-link,
.navbar-custom {
    color: #f1e5e5;
}

.navbar-custom .nav-link:hover,
.navbar-custom .dropdown-item:hover {
    color: #868181;
    transform: scale(1.3);
}

.navbar-custom .nav-link:active,
.navbar-custom .dropdown-item:active {
    color: #868181;
    transform: scale(1.1);
}

.navbar-custom .nav-item {
    margin-right: 15px; /* Add spacing between nav items */
}

#main_name {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#home_link {
    margin-left: 30px; /* Increase the distance of Home from MedicoHub */
}

/* Custom styles for dropdowns */
.dropdown-menu {
    background-color: #32325d;
    border: none;
}

.dropdown-item {
    color: #222020;
}

.dropdown-item:hover {
    color: #060606;
    background-color: transparent;
    transform: scale(1.1);
}

.dropdown-item:active {
    color: #312e2e;
    background-color: transparent;
    transform: scale(1.1);
}

/* Custom styles for login dropdown */
#log1 {
    background-color: rgb(33, 33, 59);
}

#log2 {
    background-color: rgb(33, 33, 59);
}
