{% extends 'base.html' %} {% load static %} 
{% block title %} {% endblock title %} 
{% block body %}

<!-- Bootstrap CSS -->
<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-wEmeIV1mKuiNp34T2LBKo1dRxkSb4g5CRzj4A68w0z1RmJrU8yXTQUK8eI4A5Q"
  crossorigin="anonymous"
/>

<h2>About us</h2>


<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"
  integrity="sha384-EDRRaW1LbJr4soSbYr8rckEHiShBytAWOYwFhfIN8IoK6uU0AJYXcOow8Hjggx8h"
  crossorigin="anonymous"
></script>

{% endblock body %}
