<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Chatbot</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
    <style type="text/tailwindcss">
    @layer base {
        ul {
        list-style-type: circle;
        }
        ol {
        list-style-type: decimal;
        }
    }
    </style>
</head>
<body class="flex flex-col justify-between h-screen">
    <div>
        <p class="text-xl font-bold text-center text-green-500">
            Chatbot - OpenAI
        </p>
        <div class="overflow-y-auto" style="max-height: 80vh">
            <div id="messageHolder" class="flex flex-col m-4"></div>
        </div>
    </div>
    <div class="flex flex-row m-4">
        <input
            type="text"
            class="flex-1 border rounded-md m-2 border-green-600 p-2 outline-none ring-2 ring-green-600 border-transparent"
            placeholder="Chat..."
            name="chat"
            id="chat"
        />
        <button id="btn" class="m-2 bg-blue-500 p-2 rounded-md text-white">
            Send
        </button>
    </div>
    <script type="importmap">
    {
        "imports": {
            "@google/generative-ai": "https://esm.run/@google/generative-ai"
        }
    }
    </script>
    <script type="module" src="{% static 'main.js' %}"></script>
</body>
</html>
