{%extends 'userprofile.html' %}
{% load static %}

{% block style %}
<!-- Add Bootstrap CSS link here -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
{% comment %} <link rel="stylesheet" href="{% static 'css/feedback.css' %}"> {% endcomment %}
{% endblock style %}

{%block body%}

<div class="container">
        <div class="row">
        <div class="col-md-12 mx-auto rounded border p-3">
            <h2 class="text-center mb-5 main">Feedback</h2>
            <form method="post">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="subject" class="col-sm-12 col-form-label">Enter Subject:</label>
                    <div class="col-sm-12">
                        <input class="form-control" type="text" id="subject" name="subject" placeholder="subject" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="message" class="col-sm-12 col-form-label">Enter Feedback:</label>
                    <div class="col-sm-12">
                        <textarea class="form-control" id="message" name="message" rows="4" placeholder="Enter your feedback" required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-sm-4 col-sm-8 d-grid">
                        <button type="submit" class="btn btn-primary">Send Feedback</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>

{%endblock body%}




