{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="background"></div>
    <form action="{% url 'login' %}" method="post">
        <h3>Login Here</h3>
        {% csrf_token %}
        <label for="username">Username</label>
        <input 
            type="text" 
            placeholder="Enter Username" 
            id="username" 
            name="username" 
            value="{{ username }}" 
            class="{% if username_error %}input-error{% endif %}" 
            required>
        {% comment %} {% if username_error %}
            <span class="error-message">Invalid Username</span>
        {% endif %} {% endcomment %}

        <label for="password">Password</label>
        <input 
            type="password" 
            placeholder="Password" 
            id="password" 
            name="pass" 
            class="{% if password_error %}input-error{% endif %}" 
            required>
        {% if password_error %}
            <span class="error-message">Invalid Username or Password</span>
        {% endif %}

        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}

        <button type="submit">Log In</button>

        <a href="{% url 'signup' %}">Create an account</a>
    </form>
</body>
</html>
