{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="{% static 'css/user.css' %}">
</head>
<body>
<h1 id='profile'>User Profile</h1>
<h2 id='nametag'>Welcome, {{ request.user.first_name }} {{ request.user.last_name }}</h2> <!-- Add the username on top -->

<h2>Predictions</h2> <hr>
  <section class="intro">
  <div class="bg-image h-100" style="background-image: url('https://mdbootstrap.com/img/Photos/new-templates/tables/img2.jpg');">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0,0,0,.25);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card bg-dark shadow-2-strong">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-dark table-borderless mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Symptoms</th>
                            <!-- <th scope="col">Precautions</th>
                            <th scope="col">Medications</th> -->
                            <th scope="col">Workout</th>
                            <th scope="col">Diet</th>
                            <th scope="col">Created at</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prediction in predictions %}
                        <tr>
                            <td>{{ prediction.symptoms }}</td>
                            {% comment %} <td>{{ prediction.Precautions }}</td>
                            <td>{{ prediction.Medications }}</td> {% endcomment %}
                            <td>{{ prediction.workout }}</td>
                            <td>{{ prediction.diet }}</td>
                            <td>{{ prediction.created_at }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                   </table>
                   </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    
</body>
</html>
