
{% load static %}

{%block style%} 
<link rel="stylesheet" href="{% static 'css/feedback.css' %}">
{%endblock style%}

{%block body%}

<div class="container">
    {% comment %} <h1>Health Services</h1>
    <form method="post">
        {% csrf_token %}
        <label for="symptoms">Enter your symptoms (comma-separated):</label>
        <input type="text" id="symptoms" name="symptoms" required>
        <button type="submit">Submit</button>
    </form> {% endcomment %}

    <div class="row">
        <div class="col-md-8 mx-auto rounded border p-3">
            <h2 class="text-center mb-5">Prediction Corner</h2>
            <form method="post">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="symptoms" class="col-sm-12 col-form-label">Enter your symptoms (comma-separated):</label>
                    <div class="col-sm-12">
                        <input class="form-control" type="text" id="symptoms" name="symptoms" placeholder="Symptoms" required>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-sm-4 col-sm-4 d-grid">
                        <button type="submit" class="btn btn-primary">Predict</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
    

    {% if predicted_disease %}
    <h3>Predicted Disease: {{ predicted_disease }}</h3>
        <h3>Symptoms: </h3><p>{{ user_symptoms }}<p>
                <h3>Description</h3>
                <p>{{ description }}</p>
        <div class="results">
            <div class="column">
                <h3>Precautions</h3>
                <ol>
                    {% for p in precautions.0 %}
                        <li>{{ p }}</li>
                    {% endfor %}
                </ol>
            </div>
            <div class="column">
                <h3>Medications</h3>
                <ol>
                    {% for m in medications %}
                        <li>{{ m }}</li>
                    {% endfor %}
                </ol>
            </div>
            <div class="column">
                <h3>Workout</h3>
                <ol>
                    {% for w in workout %}
                        <li>{{ w }}</li>
                    {% endfor %}
                </ol>
            </div>
            <div class="column">
                <h3>Diets</h3>
                <ol>
                    {% for d in diets %}
                        <li>{{ d }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    {% endif %}
</div>

{%endblock body%}




